body{
    background-color: rgb(58, 143, 169);
    color: white;
main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
}
form{
    display: flex;
    flex-direction: column;
}
form input[type="text"],
form input[type="email"],
form input[type="submit"],
form input[type="date"],
form input[type="number"],
form input[type="password"]{
    width: 35%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc ;
    border-radius: 5px;
    box-sizing:border-box;
}
form input[type="submit"] {
    background-color: rgb(250, 6, 6);
    color: white;
    border: none;
    cursor: pointer;

}
form input[type="submit"]:hover {
    background-color: rgb(209, 22, 22);
}



